@page
@model IndexModel
@{
    ViewData["Title"] = "Welcomme page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Akash's website</h1>
    <p> To Learn more about <a href="https://bcrec.ac.in/"> Dr B.C Roy Engineering College </a>please click here</p>
</div>
